<div class="d-flex justify-content-end">
  <button
    type="button"
    class="btn btn-primary position-relative"
    (click)="logout()"
  >
    Log out <i class="bi bi-box-arrow-in-right"></i>
  </button>
</div>
<main class="my-5 py-3">
  <div class="container">
    <div class="h1 my-4 text-center">User Profile</div>
    <div class="row my-5 justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="card-text fs-6 fw-bold">
              Name: <span class="text-uppercase">{{ userData.name }}</span>
            </p>
            <hr />
            <p class="card-text fs-6 fw-bold">
              Email: <span>{{ userData.email }}</span>
            </p>
            <hr />
            <p class="card-text fs-6 fw-bold">
              Gender: <span class="text-uppercase">{{ userData.gender }}</span>
            </p>
            <hr />
            <p class="card-text fs-6 fw-bold">
              Branch: <span class="text-uppercase">{{ userData.branch }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
