*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
  }

.toggle-btn {
    background-color: #007bff; /* Change to desired color */
    color: #fff; /* Text color */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it appears above other content */
  }

  /* Adjust navbar padding to accommodate toggle button */
  .navbar {
    padding-left: 80px; /* Adjust as needed based on toggle button width */
  }


li{
    list-style: none;
    align-items: center;
    padding: 10px;
    margin-top: 80px;
}

.offcanvas {
    background: black;

}
.offcanvas ul :hover{
    color: rgb(248, 0, 0);
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
}


.main {
    margin-left: 250px;
  }
  
  .card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    margin-top: 20px;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }
  

